body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  background: #717475;
}

p {
  padding-top: calc(50% - 2.5em);
  font-size: 2.5em;
}

#github {
  height: 100%;
  width: 100%;
}
#github:hover iframe{
  transition-duration: 1s;
  display: block;
}
#github:hover p{
  transition-duration: 1s;
  display: none;
}

#resume {
  height: 100%;
  width: 100%;
}
#resume:hover iframe{
  transition-duration: 1s;
  display: block;
}
#resume:hover p{
  transition-duration: 1s;
  display: none;
}

iframe {
  height: 100%;
  width: 100%;
  display: none;
}
