body {
  overflow: hidden;
  text-align: center;
}

p {
  padding-top: calc(50% - 2.5em);
  font-size: 2.5em;
}

#github {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#github:hover {
  transition-duration: 1s;
  left: 0%;
}

#resume {
  height: 100%;
  width: 100%;
  position: absolute;
  right: 50%;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
#resume:hover {
  transition-duration: 1s;
  right: 0%;
}

iframe {
  height: 100%;
  width: 100%;
}
