body {
  height: 100%;
  width: 100%;
  margin: 0;
  overflow: hidden;
  display: grid;
  grid-template-rows: 100fr 30fr 30fr 30fr;
  text-align: center;
  background: #717475;
}

p {
  font-size: 2.5em;
}

#top-section {
  height: 100%;
  width: 100%;
  grid-row-start: span 1;
  overflow: hidden;
}

#github {
  height: 100%;
  width: 100%;
  grid-row-start: span 1;
  overflow: hidden;
}
#github img {
  transition-duration: 1s;
  position: relative;
  z-index: 2;
  left: 100%;
  height: 100%;
  width: 0%;
}
#github:hover img {
  transition-duration: 1s;
  height: 100%;
  width: 100%;
  left: 0;
}

#linkedin {
  height: 100%;
  width: 100%;
  grid-row-start: span 1;
  overflow: hidden;
}

#resume {
  height: 100%;
  width: 100%;
  grid-row-start: span 1;
  overflow: hidden;
}
#resume img {
  transition-duration: 1s;
  position: relative;
  right: 100%;
  z-index: 2;
  height: 100%;
  width: 0%;
}
#resume:hover img {
  transition-duration: 1s;
  height: 100%;
  width: 100%;
  right: 0;
}
